* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  background-image: url("./images//background.jpg");
  background-size: cover;
}

.card {
  position: absolute;
  height: 30rem;
  width: 25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("./images/blankCard.png"); */
}

#inputLabel {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}

#pokemonName {
  position: absolute;
  left: 50%;
  top: 2.3rem;
  transform: translateX(-50%);
  width: 10%;
}

#submitButton {
  position: absolute;
  top: 2.3rem;
  left: 66rem;
}

.image {
  position: absolute;
  top: 4.7rem;
  left: 6.8rem;
  height: 11.23rem;
  width: 15.8rem;
  background-size: 75%;
  display: flex;
  align-items: center;
}

.name {
  position: absolute;
  width: 8.8rem;
  height: 1rem;
  top: 3.3rem;
  left: 7.2rem;
  font-weight: bold;
}

.hp {
  position: absolute;
  width: 4rem;
  height: 1rem;
  top: 3.1rem;
  left: 15.2rem;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.ability1 {
  position: absolute;
  width: 18.5rem;
  height: 3.5rem;
  top: 17.4rem;
  left: 3.3rem;
}

.ability2 {
  position: absolute;
  width: 18.5rem;
  height: 3.5rem;
  top: 20.9rem;
  left: 3.3rem;
}

.ability1 h3,
.ability2 h3 {
  text-align: center;
  font-size: 0.85rem;
}

.ability1 p,
.ability2 p {
  font-size: 0.6rem;
  padding-top: 0.5rem;
}
